.about
  %h1.title
    About
  .content
    .col-md-6.col-md-offset-3
      %p
        We are a digital nomad couple who quit our jobs in August 2013 to travel the world for a year. We hatched the idea while sitting around our New York City apartment after work one evening. The monotony of everyday life was beginning to take its toll on us and we had both dreamed of traveling the world "one day." We began to realize that "one day" might never come and that now was probably the best time to simply sell all of our possessions and travel the world. We were both in a relatively good position to do this as we did not own real estate, had no children, and weren't yet established in a pension track career (Michelle worked as a lawyer for the NYC government and Blake worked as a software engineer).
    = image_tag '/assets/onaboat.png'
    .col-md-6.col-md-offset-3.remainder
      %p
        So we made a promise to each other that we would save up as much money as we could, pay off Michelle's student loans, and work towards a departure date of September 2014. As it turned out, we were able to accomplish our goals a bit early, and pushed our departure date to September 2013 (when our apartment lease expired).
      %p
        In August 2013, we told our jobs, friends, and family the big news. They all took it fairly well for the most part (although our parents shed a few tears), and we began liquidating all of our Ikea furniture and donating old clothing. During our last week in NYC we got engaged and celebrated both our upcoming travel plans and future nuptials with all of our NYC friends at a bar in Brooklyn. 
      %p
        By the end of August we had visited with (and been spoiled by) each sets of our parents--Michelle's in Rhode Island and Blake's in Miami, Florida. We boarded a plane bound for Bangkok, Thailand and began our whirlwind journey. Of course we're skipping over details, but hopefully those will become more apparent as you read on. 
      %p
        We are currently making our way through Southeast Asia, with stopovers in Thailand, Cambodia, and Vietnam. Eventually, we plan to reach Japan, Australia, New Zealand, and India. If you have any travel recommendations or would like to meet up with us along our journey, please let us know! 
      %p
        Although we are nomadic, we have harnessed the powers of the Internet to work remotely in the area of web development and web design. If you'd like to discuss hiring us to design or re-design your site, feel free to have a look at our work (
        %a{:href => "http://www.blakerego.com"}
          www.blakerego.com 
        and 
        %a{:href => "http://www.michellerittner.com"}
          www.michellerittner.com
        ).