.about
  %h1.title
    About
  .content
    .col-md-6.col-md-offset-3
      %p
        So we made a promise to each other that we would save up as much money as we could, pay off Michelle's student loans, and work towards a departure date of September 2014. As it turned out, we were able to accomplish our goals a bit early, and pushed our departure date to September 2013 (when our apartment lease expired).

    = image_tag '/assets/onaboat.png'
    .col-md-6.col-md-offset-3.remainder
      %p
        In August 2013, we told our jobs, friends, and family the big news. They all took it fairly well for the most part (although our parents shed a few tears), and we began liquidating all of our Ikea furniture and donating old clothing. During our last week in NYC we got engaged and celebrated both our upcoming travel plans and future nuptials with all of our NYC friends at a bar in Brooklyn.

      %p
        By the end of August we had visited with (and been spoiled by) each sets of our parents--Michelle's in Rhode Island and Blake's in Miami, Florida. We boarded a plane bound for Bangkok, Thailand and began our whirlwind journey. Of course we're skipping over details, but hopefully those will become more apparent as you read on.

      %p
        Throughout 2013 and 2014, we eventually made our way through over ten countries in Asia and Europe. These were truly some of the best days of our lives, living and eating like locals, and challenging ourselves everyday in new ways. We made it a point to stay in most countries for a month at a time to get a better taste of everyday life, and to make sure the journey flowed at a leisurely pace. Along the way, we both found remote jobs, and managed to align our work schedules with East Coast U.S. hours, even when galavanting around Europe. 
      %p
        In January 2015, we got married in Florida, and officially "settled" in Miami. We still work remotely, but don't live quite as nomadically. Of course, we continue to be passionate about travel, and relish any chance we get for an excursion to a new city or country. Please feel free to contact us with any new recommendations or just to say hi!
