.about
  %h1.title
    About

  .content
    .col-md-6.col-md-offset-3
      %p
        We are a digital nomad couple taking the year to travel the world. Blake is originally from Miami, Florida and Michelle is from Warwick, Rhode Island. We met in 2010 while we were living in the frigid city of Boston. Afterward, we moved to NYC for two years and lived in the Lower East Side while engorging on sushi and pizza. Michelle worked as a lawyer for the City of New York and Blake worked as a software engineer.
    = image_tag '/assets/onaboat.png'

    .col-md-6.col-md-offset-3
      %h2 Planning
      %p
        While our trip may not have started our journey until the end of 2013, we started planning nearly two years prior. 