
.contact
  %h1.title
    Get in Touch
  .content
    .image_block.col-md-4.col-md-offset-4
      %i.icon-envelope.img
      .block
        %p
          We're always happy to hear from new people. 
        %p
          You can reach us at 
          %strong
            michelle@happilyadrift.com.