
.resources
  %h1.title
    Resources
  .content.col-md-6.col-md-offset-3
    %p Below is a list of the travel websites and apps we’ve used and highly recommend. 
    %p If you have other recommendations, please let us know! 

    .image_block.section_header
      %i.header.icon-phone.img
      .block
        %strong.title
          For making phone calls back home

    %ul
      %li
        Talkatone
        %a{:href => "http://www.talkatone.com/"}
          %i.icon-external-link
