.resources
  %h1.title
    Resources
  .content.col-md-6.col-md-offset-3
    %p Below is a list of the travel websites and apps we’ve used and highly recommend. 
    %p If you have other recommendations, please let us know! 

    .image_block.section_header
      %i.header.icon-phone.img
      .block
        %strong.title
          For making phone calls back home

    %ul
      %li
        %a{:href => "http://www.talkatone.com"}
          Talkatone
        
      %li
        %a{:href => "http://www.skype.com/en/"}
          Skype


    .image_block.section_header
      %i.header.icon-pencil.img
      .block
        %strong.title
          Some of our favorite travel blogs:
    %ul
      %li
        %a{:href => "http://www.legalnomads.com/"}
          Legal Nomads
      %li
        %a{:href => "http://www.nomadicmatt.com/"}
          Nomadic Matt
      %li
        %a{:href => "http://www.classetouriste.be/"}
          Classe Touriste
      %li
        %a{:href => "http://eatyourworld.com/"}
          Eat Your World
      %li
        %a{:href => "http://migrationology.com/"}
          Migrationology

    .image_block.section_header
      %i.header.icon-calendar.img
      .block
        %strong.title
          For Keeping Track of Things: 
    %ul
      %li
        %a{:href => "https://evernote.com/"}
          Evernote  
      %li
        %a{:href => "http://www.worldtimebuddy.com/"}
          World Time Buddy 
        –> for scheduling meetings with people back home


    .image_block.section_header
      %i.header.icon-home.img
      .block
        %strong.title
          For Booking Accommodations: 
    %ul
      %li
        %a{:href => "https://www.airbnb.com/"}
          Airbnb
        
          
      %li
        %a{:href => "http://www.agoda.com/"}
          Agoda 
        –> for booking budget hotels/hostels in Asia



    .image_block.section_header
      %i.header.icon-plane.img
      .block
        %strong.title
          Transportation:

    %ul
      %li
        %a{:href => "http://www.seat61.com/"}
          Seat61 
        –> for figuring out trains in SE Asia
    %ul
      %li
        %a{:href => "http://www.airasia.com/kh/en/home.page"}
          AirAsia
        
          


    .image_block.section_header
      %i.header.icon-medkit.img
      .block
        %strong.title
          Travel and Health Insurance
    %ul
      %li
        %a{:href => "http://www.worldnomads.com/"}
          World Nomads 
        –> we ultimately went with this company  
      %li
        %a{:href => "https://www.internationalsos.com/en/"}
          International SOS
      %li
        %a{:href => "http://www.worldwideinsure.com/"}
          Worldwide Insure
        
          



