.resources
  %h1.title
    Resources
  .content.col-md-6.col-md-offset-3
    %p Below is a list of the travel websites and apps we’ve used and highly recommend. If you have other recommendations, please let us know! 

    .image_block.section_header
      %i.header.icon-phone.img
      .block
        %strong.title
          For making phone calls back home
        %ul
          %li
            %a{:href => "http://www.talkatone.com"}
              Talkatone
            %p
              With Talkatone, you can your friends and family back home directly (they don't need need to be on the internet). It works using your Google Voice number.
            
          %li
            %a{:href => "http://www.skype.com/en/"}
              Skype
    .image_block.section_header
      %i.header.icon-money.img
      .block
        %strong.title
          For accessing money abroad
        %ul
          %li
            %a{:href => "http://www.schwab.com/"}
              Charles Schwab Checking
            %p
              The biggest draw here is free ATMs all over the world. Even if you incur a fee from a foreign bank, Schwab will re-imburse you for it.
          %li
            %a{:href => "http://www.capitalone.com/"}
              Capital One 
            %p
              Capital One cards do not charge any foreign transaction fee. Most cards, like Amex, for example, charge 2% on all foreign transactions. 
            %p Moreover, we use the Capital One Venture card to get airline miles. 


    .image_block.section_header
      %i.header.icon-pencil.img
      .block
        %strong.title
          Some of our favorite travel blogs:
        %ul
          %li
            %a{:href => "http://www.legalnomads.com/"}
              Legal Nomads
          %li
            %a{:href => "http://www.nomadicmatt.com/"}
              Nomadic Matt
          %li
            %a{:href => "http://www.classetouriste.be/"}
              Classe Touriste
          %li
            %a{:href => "http://eatyourworld.com/"}
              Eat Your World
          %li
            %a{:href => "http://migrationology.com/"}
              Migrationology

    .image_block.section_header
      %i.header.icon-calendar.img
      .block
        %strong.title
          For Keeping Track of Things: 
        %ul
          %li
            %a{:href => "https://evernote.com/"}
              Evernote  
          %li
            %a{:href => "http://www.worldtimebuddy.com/"}
              World Time Buddy 
            %p
              Nice little tool for scheduling meetings with people back home. Dealing with time zones always causes confusion when trying to set up a time to meet. 


    .image_block.section_header
      %i.header.icon-home.img
      .block
        %strong.title
          For Booking Accommodations: 
        %ul
          %li
            %a{:href => "http://www.agoda.com/"}
              Agoda 
            %p 
              This is great for booking small budget hotels/hostels all around the world. They also have a rewards program.
          %li
            %a{:href => "https://www.airbnb.com/"}
              Airbnb
            %p
              We use Airbnb in more expensive countries for longer-term stays. They sometimes give price breaks if you stay for an entire week or month. 
              

    .image_block.section_header
      %i.header.icon-plane.img
      .block
        %strong.title
          Transportation:

        %ul
          %li
            %a{:href => "http://www.seat61.com/"}
              Seat61
            %p
              This is a great site for figuring out trains in SE Asia.
          %li
            %a{:href => "http://www.airasia.com/kh/en/home.page"}
              AirAsia
        

    .image_block.section_header.last_item
      %i.header.icon-medkit.img
      .block
        %strong.title
          Travel and Health Insurance
        %ul
          %li
            %a{:href => "http://www.worldnomads.com/"}
              World Nomads 
            –> we ultimately went with this company  
          %li
            %a{:href => "https://www.internationalsos.com/en/"}
              International SOS
          %li
            %a{:href => "http://www.worldwideinsure.com/"}
              Worldwide Insure
        
          



