- if @previous_post_link.present?
  .previous.navbtn
    .remove
      %i.icon-remove
    .title
      =link_to "#{@previous_post['title']}", @previous_post_link
    .read_more
      %i.icon-caret-left
      =link_to "Read More", @previous_post_link
    

- if @next_post_link.present?
  .next.navbtn
    .remove
      %i.icon-remove
    .title
      = link_to "#{@next_post['title']}", @next_post_link
    .read_more
      = link_to "Read More", @next_post_link
      %i.icon-caret-right

