
.index_grid.row
  - @posts.first(8).each do |post|
    .post.col-md-6{"data-url" => post_url(post)}
      .title
        %h1
          = post['title']
        .excerpt
          = trim_excerpt(post)
        .date
          = post_date(post)
      .post_image
        = image_tag extract_first_image_from_post(post)

:javascript
  $(window).load(function(){
    var container = $('.index_grid');
    $('.post').on('click', function(data)
    {
      window.location.replace($(this).data()['url']);
    })
    var gutter = parseInt( jQuery( '.post' ).css( 'marginBottom' ) );
    var msnry = container.masonry({
      itemSelector: '.post', 
      columnWidth: '.post'});
    $('.index_grid').css({'visibility': 'visible'});
  });