.remove_me.spinner
.index_grid.row
  = render 'posts_preview', :posts => @posts

= link_to "next", posts_url(:page => @next_page), :id => "page-nav"

:javascript
  $(window).load(function(){
    var grid = new POST_GRID();
    grid.init();
  });