/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require_self
 *= require_tree .
 */


@font-face 
{
  font-family: "SpecialElite";
  src: font-url('SpecialElite.ttf');
}

@font-face
{
  font-family: "LiberationSerif";
  src: asset-url('LiberationSerif-Regular.ttf');
}

@font-face 
{
  font-family: "LiberationSerif";
  src: font-url('LiberationSerif-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

// @font-face
// {
//   font-family: "LiberationSerif";
//   src: font-url('LiberationSerif-Italic.ttf');
//   font-weight: italic;
//   font-style: normal;

// }

form.simple_form
{
  input, textarea
  {
    margin-bottom: 10px;
  }

  .submit
  {
    float: right;
    margin-right: .7%;
  }


  textarea
  {
    width: 100%;
  }
}

.hidden
{
  display: none;
}

.image_block 
{
  position:relative;

  & > .img 
  {
    float: left;
    margin-right: 15px;
    margin-bottom: 12px;
    overflow: hidden;
    text-align: center;

    img, i
    {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
  }

  & > .block
  {
    position: relative;
    display: table-cell;
    width: 10000px;

    .header 
    {
      width: 92%;
      line-height: 1em;
      display: inline-block;
      font-size: 10pt;
      margin-right: 2px;
      font-weight: bold;
    }
  }
}

.navbar
{
  a.selected
  {
    // text-decoration: underline;
  }
}

#load-more
{
  bottom: 0;
}