.contact
{
  margin-bottom: 20px;
  .title
  {
    text-align: center;
    margin-top: 50px;
  } 
  .content
  {
    i
    {
      font-size: 50px;
    }
    .block
    {
      padding-top: 4px;
      p
      {
        margin-bottom: 2px;
      }
    }
  }
}

.resources
{
  .title
  {
    text-align: center;
    margin-top: 50px;
  } 
  .content
  {
    p
    {
      margin-bottom: 5px;
    } 

    i.header
    {
      font-size: 30px;
      width: 33px;
    }

    .section_header
    {
      margin-top: 15px;
      .title
      {
        font-size: 19px;
      }
    }

    ul
    {
      -webkit-padding-start: 0;
      li
      {
        list-style: none;
      }
    }

    .last_item
    {
      margin-bottom: 90px;
    }
  }
}

.about
{
  .title
  {
    text-align: center;
    margin-top: 50px;
  } 
  .content
  {
    img
    {
      display: block;
      margin: 0 auto;
      margin-bottom: 20px;
    }
    .remainder
    {
      p:last-child
      {
        margin-bottom: 90px;
      }
    }
  }
}
