
.contact
{
  .title
  {
    text-align: center;
    margin-top: 50px;
  } 
  .content
  {
    i
    {
      font-size: 50px;
    }
    .block
    {
      padding-top: 4px;
      p
      {
        margin-bottom: 2px;
      }

    }
  }
}



.resources
{
  .title
  {
    text-align: center;
    margin-top: 50px;
  } 
  .content
  {
    p
    {
      margin-bottom: 2px;
    } 

    i.header
    {
      font-size: 30px
    }

    .section_header
    {
      margin-top: 15px;
      .title
      {
        font-size: 19px;
      }
    }

    ul
    {
      li
      {
        list-style: none;
      }
    }
  }
}

